<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>
			{{title}}
		</title>
		<meta property="og:title" content="{{title}}" />
{% if description %}
		<meta name="description" content="{{description}}"/>
		<meta property="og:description" content="{{description}}" />
{% endif %}
		<meta name="keywords" content="Cypress daycare, daycare cypress, daycare in cypress, daycare near me, daycare Houston, daycare in Houston, Houston daycare, daycare 77095, 77095 daycare daycare in 77095, daycare 77433, daycare in 77433, 77433 daycare, 77429 daycare, daycare in 77429, daycare 77429, 77410 daycare, daycare in 77410, daycare 77429, good rated daycare, good rated daycare near me, five star daycare, 5 star daycare, daycare five star, daycare 5 star, great daycare near me, great daycare, safe daycare, daycare safe, homey daycare, daycare homey, house daycare, daycare in a house">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.discoverycypress.com/" />
		<meta property="og:site_name" content="{{settings.site_name}}Discovery Years - Cypress" />
		<meta name="csrf-param" content="authenticity_token" />
    	<meta name="csrf-token" content="7AyvLbbwMef-sSAPusYEQv8KqhJr0QABLqtCzLhKki6xvZC3C3J8KGZb13lCbuw7Epq-2ALNfHnwlF5-djSXIw" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
		<link rel="icon" type="image/png" href="/static/img/icon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com/">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;family=Satisfy&amp;display=swap">
		<link rel="canonical" href="index.html">
		{% include "./partials/scripts-header.html" %}
		{% block head %}{% endblock %}
	</head>
	<body class="layout-one_column" data-page-id="83908">
		<div class="site-container">	
			{% include "./partials/navbar.html" %}
			<div role="main" class="main-container">
				{{ content | safe }}
			</div>
			{% include "./partials/footer.html" %}
		</div>
	{% include "./partials/scripts-footer.html" %}
	</body>
</html>