---
layout: default
---

<section class="posts-container">
    <div class="posts">
        <div class="post-container" style="margin-top: 10px; margin-bottom: 10px;">
            <article
                class="post post-image layout--title_above_left_photo photo-size--one_third crop--none photo-border has-content full-width">

                <div class="post-body">
                    <div class="post--title">
                        <h1>{{title}}</h1>
                    </div>
                    {% if post.date %}
                    <p class="text-base leading-6 text-gray-500 mb-3">
                        <time>{{ post.date | readableDate }}</time>
                    </p>
                    {% endif %}

                    {{ content | safe }}
                </div>
            </article>
        </div>
    </div>
</section>