<aside class="footer-container ">
    <div class="footer-inner-container">
        <div class="footer">


            <div class="about">
                <div class="footer-heading wysiwyg-text">
                    <h1>About Discovery Years Early Learning Center</h1>
                </div>
                <div class="about-content wysiwyg-text">
                    We are a family owned and operated preschool that helps your little one have positive
                    first experiences
                    with school and life!<br><br>Our focus is to create a feeling of "home away from home,"
                    like going to
                    Grandma's house.  We offer good food, good teaching and great fun!!<br><br><br><br> 
                </div>

            </div>

            <div class="locations">
                <h2 class="footer-subheading">Contact Details:</h2>

                <div class="location" id="location_13552" data-location-id="13552">
                    <p>
                        7020 Fry Rd<br>
                        Cypress,
                        TX
                        77433
                    </p>

                    <p>
                        Phone:
                        <a href="tel:(281) 861-8755">(281) 861-8755</a>

                        <br>
                    </p>



                    <div class="location_details">
                        <div class="menu">
                            <a href="#" data-section="map" class="active"
                                data-track="/a/track_map_view">Map</a>

                            |
                            <a href="#" data-section="hours" data-track="/a/track_hours_view">Hours</a>


                        </div>

                        <div class="details hours">
                            <p><span class="location-hours-day">Monday - Friday:</span> 6:30am -
                                6:30pm<br><span class="location-hours-day">Saturday - Sunday:</span>
                                Closed<br></p>
                        </div>



                        <div class="details map visible">
                            <iframe width="100%" height="205" frameborder="0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnqRKZUWWJ3b1bJSLcGKVYXbndZYn-CAI&amp;q=7020+Fry+Rd%2C+Cypress%2C+TX+77433"
                                loading="lazy" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>

            <div class="connect clearfix">
                <a href="https://www.facebook.com/Discovery-Years-Early-Learning-Center-Fry-Rd-112628342133926/"
                    target="_blank"><img
                        src="https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/social_networks/17/normal-46f724ae097b8b2098ce0f962b818a9f.png"
                        width="30" height="30" alt="Visit eBusinessWorks on Facebook Page"></a>

            </div>

        </div>

        <div class="copyright">
            Copyright &copy;2024 Discovery Years - Early Learning Center. All Rights Reserved.<br>
        </div>
    </div>
</aside>
