<header class="primary-header header-style-full-header-image">
    <a href="index.html"><img src="/static/img/header.webp" alt="Discovery Years - Cypress Logo"></a>
</header>

<nav class="primary-navigation layout--contact_icons_with_slide_down_pages clearfix">
    <div class="site-wrapper">
        <div class="inner-wrap">
            <a href="#" title="View Menu" class="fas fa-bars menu-toggle "></a>
            <ul class="location-quick-links">
                <li>
                    <a title="Call us" href="tel:+12818618755">
                        <i class="fas fa-phone"></i>
                        Call
                    </a>
                </li>
                <li>
                    <a title="View on a map" target="_blank" data-track="/a/track_map_view"
                        href="http://maps.google.com/maps?q=7020+Fry+Rd%2C+Cypress%2C+TX+77433&amp;z=15&amp;mrt=loc">
                        <i class="fas fa-map-marker-alt"></i>
                        Map
                    </a>
                </li>
                <li>
                    <a title="View hours" data-modal="true" href="a/locations/hours.html">
                        <i class="far fa-clock"></i>
                        Hours
                    </a>
                </li>
            </ul>
{% if navigation.items %}
            <ul class="page-listing" data-behavior="site-navigation">
{% for item in navigation.items %}
                <li>
                    <a {% if path == item.url %}class="active" {% endif %}href="{{ item.url }}">
                        <div>
                            {{ item.text }}
                        </div>
                    </a>
                </li>
{% endfor %}
            </ul>
{% endif %}
        </div>
    </div>
</nav>
