---
layout: default
title: Parent Info - Discovery Years
path: /parents
---
<section class="posts-container">
    <div class="posts">
        {% set postslist = collections.post %}
        {% for post in postslist | reverse %}
        <div class="post-container" style="margin-top: 10px; margin-bottom: 10px;">
            <article
                class="post post-image layout--title_above_left_photo photo-size--one_third crop--none photo-border has-content full-width">

                <div class="post-body">
                    <div class="post--title">
                        <h2><a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a></h2>
                        <time>{{ post.date | readableDate }}</time>
                    </div>

                    {% if post.data.image %}
                    <div class="post--image">
                        <img src="{{ post.data.image }}" alt="{{ title }}">
                    </div>
                    {% endif %}

                    {% if post %}
                        {% if post.data and (post.data.event_date or post.data.event_time) %}
                            <div class="post--details text-lg text-gray-500 mb-3">
                                {% if post.data.event_date %}
                                    <div><span>Date: </span>{{ post.data.event_date }}</div>
                                {% endif %}
                                {% if post.data.event_time %}
                                    <div><span>Time: </span>{{ post.data.event_time }}</div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <p class="text-lg text-gray-500 mb-3">
                            {{ post.templateContent | safe }}
                        </p>
                    {% endif %}
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</section>